*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #121212;
    background: #FDFCF6;
}

/*          HEADER          */
header{
    background: #F1F5F9;
    border-bottom: 0.2rem solid #121212;
    padding: 2rem 1rem;
}

.header-inner{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.brand{
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: inherit;
}

.brand-badge{
    font-size: 2rem;
}

.brand-name{
    font-weight: 900;
    font-size: 1.2rem;
}

.search{
    padding: 0.4rem;
    background-color: #FFFFFF;
}

.block{                                                                     /*   SOMBRA BLOQUE   */
    border: 0.2rem solid #121212;
    border-radius: 0.6rem;
    box-shadow: 0.2rem 0.2rem 0 #121212;
}

.search input{
    height: 2.4rem;
    padding: 0 0.4rem;
    font-weight: 700;
    background: #EAEAEA;
}

.search button{
    height: 2.4rem;
}

.btn{                                                                              /*    BOTONES     */
    padding: 0 1rem;
    font-weight: 800;
    letter-spacing: .2px;
    border: 0.2rem solid #121212;
    border-radius: 0.6rem;
    background-color: #FFD803;
    color: #121212;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0 #121212;
    transition: transform .06s ease, box-shadow .06s ease;
}

.user-panel{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.icon-btn{
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    background: #FFFFFF;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 900;
    transition: transform .06s ease, box-shadow .06s ease;
}

/*       Carousel       */
.carousel-slide{
    position: relative;
    height: 36vh;
}

.slide-img{
    background-image: url(https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?q=80&w=1600&auto=format&fit=crop);
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
}

.slide-caption{
    position: absolute;
    left: 1rem;
    right: 1rem 16px;
    bottom: 1rem;
    background: #ffffff;
    border-radius: 1rem;
}